
.container {
    /* height: 90vh;
    margin 2rem; */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /* grid-template-rows: repeat(16, 1fr); */

}

.square {
    background-color: cornflowerblue;
    border-color: black;
    display: ;


}