
.container {
    height: 90vh;
    margin 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.square {
    background-color: cornflowerblue;
    border-color: black;
    display: grid;


}